@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #848A9D ;
    color: white;
    padding-left: 40px;
    padding-right: 40px;

} 



.data {
    font-size: 35px;
    color: #00000086 ;
    font-family: Poppins;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 30px;
}

.titulo {
    font-family: Poppins ;
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    margin-bottom: 35px;

}

.post1 {
    font-size: 35px ;
    font-family: Poppins;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 50px;
    color: white;
}

.autor{
    margin-left: 10px;
}

.infoautor {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 25px;
   
}

.fotoautor {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid;
     
}

  
.post {
    font-size: 30px ;
    font-family: Poppins;
    font-weight: 500;
    color: white;
    margin-top: 80px;
}


a {
    text-decoration: none;
    color: #000000;
    font-size: 45px;
    display: inline-flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.container-seta {
    display: flex; /* Usando flexbox para alinhar a seta, a imagem e o nome lado a lado */
    align-items: center; /* Alinha os itens verticalmente no centro */
    
  }
  
  .seta {
    margin-right: 10px; /* Espaço entre a seta e a imagem */
    font-size: 50px; /* Tamanho da seta */
    text-decoration: none;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .seta:hover {
   color: white;
   
  }
  .container-imagem {
    display: flex; /* Coloca a imagem e o nome lado a lado */
    align-items: end; /* Alinha a imagem e o nome no centro verticalmente */
    margin-bottom: 20px;
  }
  
  .imagem {
    width: 70px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-left: 10 px;
    margin-top: 20px;

  }
  
  .nome-imagem {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Cor do nome */
    padding-bottom: 10px;
    font-family: Poppins serif;
    margin-left: -27px;
  }
  