@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #848A9D ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

} 

.data {
    font-size: 15px;
    color: #00000086 ;
    font-family: Poppins;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 60px;
}

.titulo {
    font-family: Poppins ;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 10px 0px 15px 50px;

}

.infoautor {
    display: flex;
    align-items: center;
    
}

.fotoautor {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
    border: 2px solid;
    margin-left: 50px;
}

.post {
    font-size: 30px ;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 50px;
    color: white;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}